<h1 class="m-4">Productos</h1>
<div class="container mx-auto">
  <div class="row mb-3" id="products2sell">
    {{#each context}}
      <div class="col-sm mb-3">
        <div class="card" style="width: 18rem;">
            <img src="../img/download.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-img-top">{{this.title}}  ${{this.price}}</h5>
              <p class="card-text">Codigo: {{this.code}}</p>
              <p class="card-text">{{this.description}}</p>
              <a class="btn btn-primary" onclick="addProductToCard(`{{this.id}}`)">Agregar al carrito</a>
            </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script src="../js/home.js"></script>