<div class="container">
  <div class="row ">
    <div class="col-10">
      <h1>Productos Mamalones</h1>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-success m-2 float-end">Nuevo producto<i class="m-2 bi-plus-circle"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Codigo</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
            {{#each products}}
                <tr>
                    <th scope="row">{{this.id}}</th>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.code}}</td>                
                    <td>
                    <button type="button" class="btn btn-primary"><i class="bi-pencil-square"></i></button>
                    <button type="button" class="btn btn-danger" onclick="eliminar({{this.id}})"><i class="bi-trash"></i></button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>